// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.


@import "../pages/cohort/cohort";
@import "../pages/venue-list/venue-list";
@import "../pages/settings/settings";

@import "../pages/welcome/welcome";


.progress-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid;
    border-color: color($colors, secondary);
}
.progress-indicator{
    background-color: color($colors, secondary);
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.progress-filled{
    background-color:white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.chart-container{
    display: block;
    height: 300px;
}
chart {
    display: block;
    width: 100%;
    height: 300px !important;
}

canvas {

    // pointer-events: none;
    // touch-action: none;

    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;

}