// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.


@import "../pages/cohort/cohort";
@import "../pages/venue-list/venue-list";
@import "../pages/profile/profile";
@import "../pages/settings/settings";

@import "../pages/welcome/welcome";


.chart-container{
    display: block;
    height: 150px;
    
}
chart {
    display: block;
    width: 100%;
}

canvas {
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;

}