<ion-header>
  <ion-navbar primary>
    <ion-title>Your Logs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="venue-list">


      <div *ngIf="venueService.venues" class="placeholder-container">
          <h3>
            Looks like we havn't logged any places yet, bummer :(
          </h3>
          <h3>
            Keep going places, and make sure location tracking for Movemeant is enabled!
          </h3>
      </div>

      <ion-card class="adv-map" *ngFor="let venue of venueService.venues">

        <sebm-google-map [latitude]="venue.lat" 
                         [longitude]="venue.lng" 
                         [zoom]="15" 
                         [zoomControl]="false"
                         [streetViewControl]="false"
                         [scrollwheel]="false"
                         [styles]="geoService.mapStyle">
          <sebm-google-map-marker [latitude]="venue.lat" [longitude]="venue.lng"></sebm-google-map-marker>
        </sebm-google-map>
          
        <ion-item>
          <ion-icon primary name="navigate" item-left large></ion-icon>
          <h2>{{venue.name}}</h2>
          <p>{{venue.category}}</p>
        </ion-item>

        <ion-item>
          <ion-icon secondary name="at" item-left large ></ion-icon>
          <h2>{{venue.checkins}} <span *ngIf="venue.checkins>1 || venue.checkins==0">people have</span> <span *ngIf="venue.checkins==1">person has</span> been here</h2>
        </ion-item>

        <ion-item>
          <ion-icon secondary name="checkmark-circle" item-left large ></ion-icon>
          <h2>{{venue.reveals}} <span *ngIf="venue.reveals>1 || venue.reveals==0">people have</span> <span *ngIf="venue.reveals==1">person has</span> signed in</h2>
        </ion-item>


        <ion-item *ngIf="!venue.revealed">
          <button primary clear item-right (click)="signintoVenue(venue)">
            <ion-icon name="checkmark-circle"></ion-icon>
            Sign In
          </button>
        </ion-item>

      </ion-card>
  
</ion-content>
