<ion-header>
  <ion-navbar primary>
    <ion-title>Your Private Logs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="venue-list">

      <div *ngIf="venueService.venues.length==0" class="placeholder-container">
          <h3>
            Looks like we havn't logged any places yet, bummer :(
          </h3>
          <h3>
            Keep going places, and make sure location tracking for Movemeant is enabled!
          </h3>
      </div>

      <ion-list no-lines>
        <ion-card *ngFor="let venue of venueService.venues">
        <ion-item>
          
          <div item-left class="progress-container">
            <div class="progress-indicator">
              <div class="progress-filled" [style.height]="getFill(venue)"></div>
            </div>
          </div>
          
          <h2>{{venue.name}}</h2>
          <p>{{venue.category}}</p>

          <button *ngIf="venue.revealed" (click)="showModal(venue)" clear item-right>
            <ion-icon name="globe"></ion-icon>
            <span style="color:black;">Public</span>
          </button>
          <button *ngIf="!venue.revealed" (click)="signintoVenue(venue)" ouline item-right>
            <ion-icon name="navigate"></ion-icon>
            Reveal
          </button>

        </ion-item>
        </ion-card>
      </ion-list>

</ion-content>
