.welcome{
    color: white;
    background-color: #40E0D0;

    ion-slide{
        background-color: #40E0D0;
    }
    .swiper-pagination-bullet{
        background-color:white !important;
    }

    h2{
        font-size: 2.5em;
    }
    p{
        font-size: 1.1em;
        color:white;
    }

    .welcome-form{
        ion-item{
            color:white;
            background-color: transparent;
            border: none;
            padding:0px;

            ion-label{
                color:white;
                font-size: 1.3em;
            }
            .item-inner{
                border-bottom: 1px solid white;
            }
        }
        .zipcode{
            text-align: center;
            font-size: 2.0em;

            ion-input{
                input{
                    text-align: center;
                }
                ::-webkit-input-placeholder {
                	color:white;
                }

                :-moz-placeholder { /* Firefox 18- */
                	color:white;  
                }

                ::-moz-placeholder {  /* Firefox 19+ */
                	color:white;  
                }

                :-ms-input-placeholder {  
                	color:white;  
                }
            }
        }
    }
}