<ion-content class="welcome">

  <ion-slides #slider pager [options]="slideOptions">


    <ion-slide padding text-wrap>
      <h2>Welcome to Movemeant!</h2>
      <p>
        PLACE SOME WELCOME MESSAGE / DESCRIPTION HERE
      </p>
      <button outline light (click)="slideNext()">Start</button>
    </ion-slide>


    <ion-slide padding text-wrap>

      <form (ngSubmit)="submitForm()" #loginForm="ngForm">
        <ion-list class="welcome-form">

          <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input [(ngModel)]="credentials.username" type="text" value=""></ion-input>
          </ion-item>
          <ion-item *ngIf="signupMode">
            <ion-label floating>Email</ion-label>
            <ion-input [(ngModel)]="credentials.email" type="email" value=""></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input [(ngModel)]="credentials.password" type="password" value=""></ion-input>
          </ion-item>

        </ion-list>
      
        <ion-grid>
          <ion-row>
            <ion-col>
              <button type="submit" outline light>Next</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button clear light small (click)="toggleMode()">
                <span *ngIf="signupMode">Or, sign in</span>
                <span *ngIf="!signupMode">Or, sign up</span>
              </button>
            </ion-col>
            <ion-col>
              <button clear light small>Terms of Use</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>

    </ion-slide>


    <ion-slide padding text-wrap>
    
      <ion-list class="welcome-form">
        <ion-list>
            <ion-item class="zipcode">
              <ion-input [(ngModel)]="zipcode" type="text" value="" placeholder="Zipcode"></ion-input>
            </ion-item>
          </ion-list>
      </ion-list>

      <ion-grid>
        <ion-row>
          <ion-col>
            <button type="submit" (click)="setZipCode()" outline light>Next</button>
          </ion-col>
        </ion-row>
      </ion-grid>

    
    </ion-slide>


    <ion-slide padding text-wrap>

      <h2>Location Permissions</h2>
      <p>To make sure Movemeant works and records venue visits, please give us location permissions</p>
      <button outline light (click)="enableVisitTracking()">Turn on Location</button>

    </ion-slide>


    <ion-slide padding text-wrap>

        <h2>Welcome to <span *ngIf="cohort">{{ cohort }}</span> <span *ngIf="!cohort">your neighborhood</span>!</h2>
        <p>Some other message can go here</p>
        <button outline light (click)="goToApp()">Start using Movemeant</button>

    </ion-slide>


  </ion-slides>

</ion-content>