<ion-header>
  <ion-navbar primary>
    <ion-title>
      {{ venueService.cohort }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cohort" scroll="false">

  <ion-list style="margin-bottom:0px; height: 40vh;">
      <ion-list-header>
        Activity Map
      </ion-list-header>

      
      <sebm-google-map  [latitude]="coords.lat" 
                        [longitude]="coords.lng" 
                        [zoom]="15" 
                        [zoomControl]="false"
                        [usePanning]="true"
                        [disableDefaultUI]="true"
                        [streetViewControl]="false"
                        [scrollwheel]="false"
                        [styles]="geoService.mapStyle">
        
        <sebm-google-map-marker [iconUrl]="youUrl"
                                [latitude]="coords.lat"  
                                [longitude]="coords.lng"></sebm-google-map-marker>
        <sebm-google-map-marker *ngFor="let venue of venueService.cohortVenues"
                                [iconUrl]="iconUrl"
                                [latitude]="venue.lat" 
                                [longitude]="venue.lng"
                                (markerClick)="clickedMarker(venue)"></sebm-google-map-marker>

      </sebm-google-map>
  </ion-list>

  
  <ion-list-header>
    Venues
  </ion-list-header>
  
  <ion-scroll scrollY="true" style="height:41vh;">
    <ion-list>
      <ion-item text-wrap *ngFor="let venue of venueService.cohortVenues" (click)="centerMap(venue)">
        
        <div item-left class="progress-container">
          <div class="progress-indicator">
            <div class="progress-filled" 
              [style.height]="getFill(venue)"></div>
          </div>
        </div>

        <h2>{{venue.name}}</h2>
        <h3>{{venue.category}}</h3>
        <p item-right>{{venue.checkins}} ppl</p>
      </ion-item>
    </ion-list>
  </ion-scroll>    


</ion-content>
