<ion-header>
  <ion-navbar primary>
    <ion-title>
      <!--{{ venueService.cohort }}-->
      Venue Overlaps
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cohort" scroll="false">

  <ion-list style="margin-bottom:0px; height: 38vh;">
      <ion-list-header style="text-align:center;" text-wrap >
        These are the places you and your neighbors hangout
      </ion-list-header>

      
      <sebm-google-map  [latitude]="coords.lat" 
                        [longitude]="coords.lng" 
                        [zoom]="15" 
                        [zoomControl]="false"
                        [usePanning]="true"
                        [disableDefaultUI]="true"
                        [streetViewControl]="false"
                        [scrollwheel]="false"
                        [styles]="geoService.mapStyle">
        
        <sebm-google-map-marker [iconUrl]="youUrl"
                                [latitude]="coords.lat"  
                                [longitude]="coords.lng"></sebm-google-map-marker>
        <sebm-google-map-marker *ngFor="let venue of venueService.cohortVenues"
                                [iconUrl]="iconUrl"
                                [latitude]="venue.lat" 
                                [longitude]="venue.lng"
                                (markerClick)="clickedMarker(venue)"></sebm-google-map-marker>

      </sebm-google-map>
  </ion-list>

  <div padding>
    <ion-segment [(ngModel)]="view_type">
      <ion-segment-button value="list">
        Venue List
      </ion-segment-button>
      <ion-segment-button value="chart">
        Overview
      </ion-segment-button>
    </ion-segment>
  </div>
  <ion-scroll scrollY="true" style="height:42vh;">

    

    <div [ngSwitch]="view_type">
      
      <div padding *ngSwitchCase="'chart'">

        <div class="chart-container">
         <base-chart *ngIf="dataLoaded" class="chart"  
                   [iconUrl]="iconUrl"
                   [data]="chartData"
                   [labels]="chartLabels"		
                   [chartType]="chartType"		
                   [options]="chartOptions"></base-chart>		
        </div>

      </div>

      <div *ngSwitchCase="'list'">

        <ion-list>
          <ion-item text-wrap *ngFor="let venue of venueService.cohortVenues" (click)="centerMap(venue)">
            
            <div item-left class="progress-container">
              <div class="progress-indicator">
                <div class="progress-filled" 
                  [style.height]="getFill(venue)"></div>
              </div>
            </div>

            <h2>{{venue.name}}</h2>
            <h3>{{venue.category}}</h3>
            <p item-right>{{venue.checkins}} ppl</p>
          </ion-item>
        </ion-list>

      </div>
    </div>

    
  </ion-scroll>    


</ion-content>
