<ion-header>
  <ion-navbar primary>
    <ion-title>
      {{ venueService.cohort }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cohort">

  <ion-item-group>

      <ion-list-header>
        Activity Map
      </ion-list-header>

      
      <sebm-google-map  [latitude]="coords.lat" 
                        [longitude]="coords.lng" 
                        [zoom]="13" 
                        [zoomControl]="false"
                        [usePanning]="true"
                        [disableDefaultUI]="true"
                        [streetViewControl]="false"
                        [scrollwheel]="false"
                        [styles]="geoService.mapStyle">
        
        <sebm-google-map-marker *ngFor="let venue of venueService.cohortVenues"
                                 
                                [latitude]="venue.lat" 
                                [longitude]="venue.lng"
                                (markerClick)="clickedMarker(venue)"></sebm-google-map-marker>

      </sebm-google-map>
      

      <ion-list-header>
        Venue Types
      </ion-list-header>

      <div class="chart-container">
        <base-chart *ngIf="dataLoaded" class="chart"
                  [iconUrl]="iconUrl"
                  [data]="chartData"
                  [labels]="chartLabels"
                  [chartType]="chartType"
                  [options]="chartOptions"></base-chart>
      </div>
      <ion-list-header>
        Venues
        <p item-right># Reveals / # Checkins</p>
      </ion-list-header>
      <ion-item *ngFor="let venue of venueService.cohortVenues" (click)="centerMap(venue)">
        <h2>{{venue.name}}</h2>
        <h3>{{venue.category}}</h3>
        <p item-right>{{venue.reveals}}/{{venue.checkins}}</p>
      </ion-item>

    </ion-item-group>


</ion-content>
