.cohort{
    scroll-content{
        overflow-y:hidden;
    }
    .sebm-google-map-container {
       height: 29vh;
    }

    .chart-container{
        pointer-events: none;
        touch-action: none;
    }
}